body {
  background: rgb(91, 21, 156);
}
h1,p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  cursor: pointer;
}
h1:hover, p:hover {
  color: black;
}
p {
  margin-top: 0;
  font-weight: 500;
}