body {
  background: rgb(63, 63, 63);
}
h1,p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  font-family: 'Courier New', Courier, monospace;
  color: blueviolet;
  cursor: pointer;
}
p {
  margin-top: 0;
  font-weight: 500;
}